body {
    background-color: #FFF;
    color: #000;
}

a {
    color: #3498DB;
}


.wide-order {
    height: 6em;
    border: 1px solid #393939;
    border-radius: .50em;
    margin: 20px;
    box-shadow: 1px 1px #8B8B8B;
}

.wide-list {
    list-style-type: none;
}

.wide-list div {
    display: inline-block;
}

#qr, 
#bank-logo,
#vertical-line {
    float: left;
}

#verified {
    float: right;
}

#qr, 
#bank-logo {
    margin: 0.9% 6% 0px -1%;
    font-size: 1.5em;
    border: 1px solid #8B8B8B;
    padding: 3%;
    border-radius: 5px;
    width: 73px;
}

#vertical-line {
    border-left: 1px dashed #8B8B8B;
    margin: 1% 6% 0 -5%;
    height: 70px;
}

#bank-logo {
    margin-left: -5%;
    padding: initial;
}

#bank-name {
    margin-right: 10%;
    padding-right: 5%;
}

.header {
    margin-top: -17%;
}

#name {
    padding-top: 7%;
    font-size: 1.2em;
}

.smaller-font {
    margin-top: -15%;
}

.available.header {
    margin-bottom: 12%
}























