body {
    background-color: #FFF;
    color: #000;
}

a {
    color: black;
}


.wide-order {
    width: 65%;
    height: 6em;
    border: 1px solid #393939;
    border-radius: .50em;
    margin: 20px;
    box-shadow: 1px 1px #8B8B8B;
}

.wide-list {
    list-style-type: none;
}

.wide-list li {
    display: inline-block;
}

#qr, 
#bank-logo,
#vertical-line {
    float: left;
}

#verified {
    float: right;
}

#qr, 
#bank-logo {
    margin: .7% 6% 0px -7%;
    font-size: 1.5em;
    border: 1px solid #8B8B8B;
    padding: 3%;
    border-radius: 5px;
    width: 73px;
}

#vertical-line {
    border-left: 1px dashed #8B8B8B;
    margin: .7% 6% 0px -5%;
    height: 70px;
}

#bank-logo {
    margin-left: -5%;
}



