/********************************
PHONE LANDSCAPE
********************************/

@media screen and (min-width: 480px) and (orientation: landscape) {

    .all-but-topnav {
        margin-top: 4%;
    }

/********************************
NAVBAR
********************************/

    .navbar {
        min-height: 40px
    }

    .navbar-toggle {
        margin-top: 1.3%;
    }

    .navbar-inverse .navbar-brand {
        padding-top: 2%;
    }

    .navbar-right {
        margin-top: 8px;
    }

/********************************
FOOTER
********************************/

.footer {
    height: 60px;
}

.footer p {
  margin-bottom: -15px;
}

#copyright {
    font-family: 'Courgette', Helvetica, sans-serif;
}

/********************************
INDEX PAGE 
********************************/
    .carousel {
        position: fixed;
        top: -40px;
        left: 0;
        right: 0;
        bottom: 0;
        height: initial;
        margin-bottom: 0;
    }

    .carousel-indicators {
        position: fixed;
        bottom: 13%
    }
    .carousel-caption {
        top: 20%;
        left: 60%;
        right: 0;
    }

    .index-h1 {
        font-size: 3.5em;
    }

    .carousel,
    .carousel .item {
        height: 485px;
    }

    /*.carousel {
        margin-bottom: 125px;
    }*/

    .carousel .item img.first-slide {
        content: url(../img/index/taps-landscape.jpg);
    }
    .carousel .item img.second-slide {
        content: url(../img/index/sliders-tablet-landscape.jpg);
    }
    .carousel .item img.third-slide {
        content: url(../img/index/taps-landscape.jpg);
    }
    .carousel .item img.fourth-slide {
        content: url(../img/index/toasting-phone-landscape.jpg);
    }

/********************************
MENU PAGE 
********************************/
    
    .col-xs-12 {
        width: 49%;
        margin-bottom: 10%;
    }

    .drink-specials {
        font-size: 1.5em;
    }

    .menu-headers {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 7%;
        padding-top: 3%;
    }

/********************************
PHOTO GALLERY 
********************************/
    
    .col-xs-6 {
        width: 24.97%;
    }

    .last-photo {
        display: block;
    }

    .gallery-top-margin {
        margin-top: -6%;
        height: 100%;
    }

    .gallery-header {
        margin-bottom: 1%;
    }

    /*#overlay {
        background: rgba(0,0,0,.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }*/

    #overlay img {
        margin-top: 9%;
        max-width: 50%;
    }

    #overlay p {
        color: white;
    }

/********************************
CONTACT PAGE
********************************/
    
    #address {
        margin: 7% 0 0 0;
    }

    #map-container {
        height: 400px;
    }

    .contact-row {
        margin-bottom: 5%;
    }

}



/********************************
TABLET LANDSCAPE
********************************/


@media screen and (min-width: 750px) and (orientation: landscape) {



/*NAVBAR*/

    .navbar {
        min-height: 70px;
    }

     .navbar-inverse .navbar-brand {
        padding-top: 16%;
        padding-left: 10%;
        margin-left: 0;
    }

    .navbar>.container-fluid .navbar-brand {
         margin-left: 0; 
    }

    /*.all-but-topnav {
        margin-top: 40px;
    }*/

    .navbar-right {
        margin-top: 8px;
    }

/********************************
INDEX PAGE 
********************************/
    
    .index-h1 {
        font-size: 5.5em;
    }

    .carousel,
    .carousel .item {
        height: 100%;
    }

    .carousel .item img {
        left: -8%;
    }

    .carousel {
        margin-bottom: 0;
        top: 0;
    }
    
    .carousel .item img.first-slide {
        content: url(../img/index/taps-tablet-landscape1.jpg);
    }
    .carousel .item img.second-slide {
        content: url(../img/index/sliders-tablet-landscape.jpg);
    }
    .carousel .item img.third-slide {
        content: url(../img/index/taps-tablet-landscape2.jpg);
    }
    .carousel .item img.fourth-slide {
        content: url(../img/index/toasting-tablet-landscape.jpg);
    }

    
    .carousel-indicators {
        bottom: 8%;
    }

    

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .glyphicon-chevron-left  {
        top: 50%;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -40px;
    }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -40px;
    }


/********************************
MENU PAGE 
********************************/

    .drink-specials {
        font-size: 2.15em;
    }

    .menu-row {
        margin-bottom: 0;
    }

    .menu-headers {
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 7%;
        margin: 7% 3% 2% 3%; 
        padding-top: 3%;
    }



/********************************
PHOTO GALLERY PAGE 
********************************/


    .gallery-top-margin {
        margin-top: 0;
    }


/********************************
CONTACT PAGE 
********************************/


    .contact-row {
        margin-bottom: 13%;
        margin-top: 5%;
        background-color: rgba(0,0,0,.15);
    }

    .contact-info {
        font-size: 1.5em;
    }

    #next-to-subs,
    #no-reservations {
        font-size: .7em;
        font-style: italic;
    }



    #address {
        line-height: 30px;
    }










}


