@media screen and (max-width: 340px) {

    /*FOR iPhone5 AND BEFORE*/

    /********************************
    INDEX PAGE
    ********************************/    

    .carousel-indicators {
        bottom: 62px
    }

    .carousel-caption {
        padding-bottom: 65px;
    }


}


@media screen and (min-width: 355px) and (orientation: portrait) {
    

/********************************
INDEX PAGE PHONE PORTRAIT (iPhone 6 is 375px)
********************************/

    .navbar-right {
        margin-top: 8px;
    }

    /*.carousel,
    .carousel .item {
        height: 665px;
    }*/

    .carousel {
        position: fixed;
  top: 70px;
  left: 0;
  right: 0;
    bottom: 0;
  height: initial;
  margin-bottom: 0;
    }

    .carousel-caption {
        bottom: 65px;
    }

    .carousel-indicators {
        bottom: 60px;
    }

}

/********************************
INDEX PAGE TABLET PORTRAIT
********************************/


@media screen and (min-width: 668px) and (orientation: portrait) {


    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 960px;
    }

    .carousel {
        margin-bottom: 70px;
    }

    .carousel-caption,
    .carousel-indicators {
        bottom: 75px;
    }

}


@media screen and (min-width: 480px) and (orientation: landscape) {

/********************************
PHONE LANDSCAPE
********************************/

/*NAVBAR*/

.navbar {
    height: 40px
}

.all-but-topnav {
    margin-top: 50px;
}

/********************************
INDEX PAGE 
********************************/
    
    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 485px;
    }

    .carousel {
        margin-bottom: 125px;
    }

    .carousel .item .first-slide {
        content: url(../img/index/taps-tablet-landscape1.jpg);
    }


}
@media screen and (min-width: 668px) and (orientation: landscape) {

/********************************
TABLET LANDSCAPE
********************************/

/*NAVBAR*/

.navbar {
    height: 70px;
}


/********************************
INDEX PAGE 
********************************/
    
    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 100%;
    }

    .carousel {
        margin-top: 19px;
    }

    .carousel {
        margin-bottom: 0;
    }
    
    .carousel .item .first-slide {
        content: url(../img/index/taps-tablet-landscape1.jpg);
    }
    .carousel .item .second-slide {
        content: url(../img/index/sliders-tablet-landscape.jpg);
    }
    .carousel .item .third-slide {
        content: url(../img/index/taps-tablet-landscape2.jpg);
    }
    .carousel .item .fourth-slide {
        content: url(../img/index/phonebooths-tablet-landscape.jpg);
    }

    .carousel-caption,
    .carousel-indicators {
        bottom: 20px;
    }

    

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .glyphicon-chevron-left  {
        top: 50%;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -40px;
    }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -40px;
    }

}















