@media screen and (max-width: 340px) {

    /*FOR iPhone5 AND BEFORE*/

    /********************************
    INDEX PAGE
    ********************************/    

    .carousel-indicators {
        bottom: 62px
    }

    .carousel-caption {
        padding-bottom: 65px;
    }


}


@media screen and (min-width: 480px) {
    

/********************************
INDEX PAGE
********************************/

    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 700px;
    }

    .carousel {
        margin-bottom: 0;
    }

}




@media screen and (min-width: 768px) {


/********************************
INDEX PAGE
********************************/

    
    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 900px;
    }

    .carousel {
        margin-bottom: 125px;
    }

}