@media screen and (max-width: 340px) {

    /*FOR iPhone5 AND BEFORE*/

    /********************************
    INDEX PAGE
    ********************************/    

    .carousel-indicators {
        bottom: 62px
    }

    .carousel-caption {
        padding-bottom: 65px;
    }


}


/*WIDESCREEN MONITOR*/


@media screen and (min-width: 1025px) {
    

    .carousel .item img {
        left: 0;
    
    }

    .menu {
        margin-left: -5%;
    }

    .menu-headers {
        margin-top: -1%;
        margin-bottom: 1%;
    }


    #see-more-photos {
        margin-bottom: 5%;
    }


    #map-container {
        height: 600px;
    }

    .contact-row {
        margin-bottom: 9.8%;
    }

}