@media screen and (min-width: 355px) and (orientation: portrait) {
    

/********************************
INDEX PAGE PHONE PORTRAIT (iPhone 6 is 375px)
********************************/

    .navbar-right {
        margin-top: 8px;
    }


    /*.carousel {*/
        /*position: fixed;*/
        /*top: 70px;*/
        /*left: 0;
        right: 0;
        bottom: 0;*/
        /*height: initial;*/
        /*margin-bottom: 0;*/
    /*}*/

    /*.carousel-caption {
        bottom: 65px;
    }*/

    /*.carousel-indicators {
        bottom: 60px;
    }*/
    /*.index-h1 {
       font-size: 4.5em;*/
 
}

}

/********************************
INDEX PAGE TABLET PORTRAIT
********************************/


@media screen and (min-width: 668px) and (orientation: portrait) {


    .navbar-right {
        margin-top: 8px;
    }
    
    .carousel .item img {
        left: 0;
    }

    .carousel,
    .carousel .item {
        height: 960px;
    }

    .carousel {
        margin-bottom: 70px;
    }

    .carousel-caption,
    .carousel-indicators {
        bottom: 75px;
    }



    .navbar-inverse
    .navbar-brand {
        padding: 16% 0 0 15%; 
    }


}
