/********************************
PHONE LANDSCAPE
********************************/

@media screen and (min-width: 480px) and (orientation: landscape) {


/********************************
NAVBAR
********************************/

    .navbar {
        min-height: 40px
    }

    .all-but-topnav {
        margin-top: 4%;
    }

    .navbar-right {
        margin-top: 8px;
    }

/********************************
FOOTER
********************************/

.footer {
    height: 60px;
}

.footer p {
  margin-bottom: -15px;
}

#copyright {
    font-family: 'Courgette', Helvetica, sans-serif;
}

/********************************
INDEX PAGE 
********************************/
    .carousel {
        position: fixed;
        top: -40px;
        left: 0;
        right: 0;
        bottom: 0;
        height: initial;
        margin-bottom: 0;
    }

    .carousel-indicators,
    .carousel-caption {
        bottom: 25%;
    }

    .index-h1 {
        font-size: 3.5em;
    }

    .carousel,
    .carousel .item {
        height: 485px;
    }

    /*.carousel {
        margin-bottom: 125px;
    }*/

    .carousel .item img.first-slide {
        content: url(../img/index/taps-landscape.jpg);
    }
    .carousel .item img.second-slide {
        content: url(../img/index/sliders-tablet-landscape.jpg);
    }
    .carousel .item img.third-slide {
        content: url(../img/index/taps-landscape.jpg);
    }
    .carousel .item img.fourth-slide {
        content: url(../img/index/toasting-phone-landscape.jpg);
    }

/********************************
MENU PAGE 
********************************/
    
    .col-xs-12 {
        width: 49%;
        margin-bottom: 10%;
    }

    .drink-specials {
        font-size: 1.5em;
    }


}

/********************************
TABLET LANDSCAPE
********************************/


@media screen and (min-width: 668px) and (orientation: landscape) {



/*NAVBAR*/

    .navbar {
        height: 70px;
    }

    /*.all-but-topnav {
        margin-top: 40px;
    }*/


/********************************
INDEX PAGE 
********************************/
    
    .navbar-right {
        margin-top: 8px;
    }

    .carousel,
    .carousel .item {
        height: 100%;
    }

    .carousel .item img {
        left: -8%;
    }

    .carousel {
        margin-bottom: 0;
    }
    
    .carousel .item img.first-slide {
        content: url(../img/index/taps-tablet-landscape1.jpg);
    }
    .carousel .item img.second-slide {
        content: url(../img/index/sliders-tablet-landscape.jpg);
    }
    .carousel .item img.third-slide {
        content: url(../img/index/taps-tablet-landscape2.jpg);
    }
    .carousel .item img.fourth-slide {
        content: url(../img/index/phonebooths-tablet-landscape.jpg);
    }

    .carousel-caption,
    .carousel-indicators {
        bottom: 130px;
    }

    

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .glyphicon-chevron-left  {
        top: 50%;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -40px;
    }

    .carousel-control .glyphicon-chevron-left {
        margin-left: -40px;
    }

}


