/*GENERAL STYLING*/
html {
    /*height: 100%;*/
}

body {
    background: url('../img/brunzies-brick.JPG') fixed; 
    color: #fff;
    text-align: center;
    background-color: #000;
    /*font-family: 'Arimo', sans-serif;*/
    /*height: 100%;*/
}


#all-but-topnav {
    margin-top: 70px;
    min-height: 600px;
    border-top: 1px solid #fff;
}

/*LINKS*/

a {
    /*text-decoration: none; Bootstrap does this automatically */ 
    color: #fff;
}



    /*NAV DROP DOWN CUSTOMIZATIONS*/

.navbar {
    min-height: 70px
}

.navbar-header {
    margin-top: 8px;
}

.navbar-brand {
    font-size: 2.5em;
    /*color: #fff;*/
}

.navbar a {
    text-align: right;
}

.navbar-default,
.navbar-brand {
    background-color: #000;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

    /*NAVBAR PSEUDO CLASSES*/

.navbar-default .navbar-nav > li > a:visited {
    color: #888;
}


/*INDEX PAGE*/


    /*CAROUSEL CUSTOMIZATIONS*/



.carousel .item {
    background-color: transparent;
}



    /*END CAROUSEL CUSTOMIZATIONS*/

#menu {
    margin-top: -25px;
}    

/*footer {
   margin-bottom: 0;
}*/

/*same issue as above*/
footer p,
footer p a {
    background: #000;
    margin-bottom: 0;   
}

/*CONTACT PAGE*/

#map-container {
    height: 500px;
}

#map-separator {
    margin-top: 85px;
}

#address {
    font-size: 1.250em;
    margin: 10px 0 70px 0;
    background-color: rgba(0,0,0,.55);
    
    padding: 10px;

}


/*FOOTER CUSTOMIZATIONS*/

.social-icons {
    margin: 0 15px;
}






















