/*GENERAL STYLING*/

html {
    height: 100%;
}


body {
    color: #fff;
    text-align: center;
    background-color: #000;
    /*font-family: 'Arimo', sans-serif;*/
    height: 100%;
}
.background-img {
    background: url(../img/brunzies-brick.JPG) fixed; 
    background-size: cover;
}


.all-but-topnav {
    margin-top: 70px;
    height: 100%;
    /*border-top: 1px solid #fff;*/
}


/*LINKS*/

a {
    color: #fff;
}

a:focus, a:hover {
  color: #626364;
  text-decoration: none;
}

a.thumbnail:hover {
  background-color: rgb(82, 68, 75);
}


    /*NAV DROP DOWN CUSTOMIZATIONS*/

#nav-logo {
    float: left;
    max-width: 100%;
    max-height: 52px;
}

.navbar {
    min-height: 70px;
    border-bottom: 1px solid #fff;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: 'Raleway';
    font-size: 1.3em;
}

.navbar-inverse,
.navbar-inverse .navbar-nav>.active>a {
    background-color: #000;
}

/*ADD TO RESPONSIVE STYLESHEETS*/

/*.navbar-header {
    margin-top: 8px;
}*/
.navbar-inverse .navbar-toggle {
    margin-bottom: 3%;
}

.navbar-brand {
    font-family: 'Rufina';
    font-size: 2.5em;
    /*color: #fff;*/
}

.navbar a {
    text-align: right;
}

.navbar-inverse .navbar-brand {
    /*color: #fff;*/
    padding: 1% 0 0 0;
}

.navbar-toggle {
    margin: 5% 0 0 0;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/******************************
INDEX PAGE
******************************/


    /*CAROUSEL CUSTOMIZATIONS*/

.index-h1 {
    font-size: 4.5em;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
}

.carousel {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    height: initial;
    margin-bottom: 0;
}

.carousel-indicators {
    bottom: 11.5%;

}

.carousel-caption {
    bottom: 10%;
    text-shadow: 2px 2px 2px #000;
}


.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}

.index-only {
    margin-bottom: -160px;
}
.carousel .item {
    background-color: transparent;
    height: 100%;
}

.carousel .item img {
    max-width: none;
    height: 100%;
    /*left: -8%;*/
}

.carousel .item img.first-slide {
    content: url(../img/index/taps1-portrait-color.jpg);
    
}

.carousel .item img.second-slide {
    content: url(../img/index/sliders-color.jpg);
    
}
.carousel .item img.third-slide {
    content: url(../img/index/taps2-portrait-color.jpg);
    
}
.carousel .item img.fourth-slide {
    content: url(../img/index/toasting-portrait-color.jpg);
    
} 


    /*END CAROUSEL CUSTOMIZATIONS*/

#menu {
    margin-top: -25px;
}    

/*footer {
   margin-bottom: 0;
}

/*same issue as above*/
footer p,
footer p a {
    /*background: #222;*/
    margin-bottom: 0;   
}

/*#front-page-desc {
    font-size: 1.35em;
    margin-bottom: 70px;
    padding: 20px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
}*/


/*MENU PAGE*/

.menu {
    border-radius: 2%;
    margin-bottom: 3%;
    box-shadow: 4px 3px 4px #000;
}

.drink-specials {
  font-family: 'Raleway';
  margin-bottom: 18%;
  background-color: rgba(0,0,0,.55);
  padding-top: 1%;
  border-radius: 2%;
  font-size: 2em;
  text-align: left;
  width: 92%;
  margin-left: 4%;
}

.menu-bottles {
    margin-bottom: 2%;
    border-radius: 3%;
}


.headers,
.menu-headers {
    font-size: 3em;
    font-family: 'Raleway';
    text-shadow: 2px 2px 2px #000;
    text-align: left;
}

.list-group-item-heading {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding-bottom: 2%;
}

/*PHOTO GALLERY*/

.page-header {
  padding-bottom: 1%;
  padding-top: 2%;
  margin: 5%;
  text-align: left;
}

.col-xs-6 {
    width: 50%;
}

.last-photo {
    display: none;
}

#see-more-photos {
    font-family: 'Raleway';
    margin-bottom: 0%;
    text-align: center;
    padding-bottom: 19%;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
}



#see-more-photos p a {
    color: #98D4F7;
}

#overlay {
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#overlay img {
    margin-top: 40%;
    max-width: 100%;
}

#overlay p {
    color: white;
}

/*CONTACT PAGE*/

#address {
    /*font-size: 1.350em;*/
    /*margin: 19% 0 20% 0;*/
    /*background-color: rgba(0,0,0,.15);*/
    /*padding: 4% 0 0 0;*/
    /*margin-top: 75px;*/
    /*width: 100%;*/
    /*line-height: 15px;*/
}

.contact-info {
    font-family: 'Raleway'; 
    font-size: 1.35em;
    padding: 4% 0 0 0;
    /*margin-bottom: 10%; */
    /*width: 100%;*/
    line-height: 98%;
    text-align: left;
    padding-left: 4%;
    text-shadow: 1px 1px 1px #000;
    transition: .5s;
}

.contact-info p a {
    color: #98D4F7;
}

.contact-row {
    margin-bottom: 22%;
}

#map-container {
    height: 500px;
    width: 100%;
    margin-top: 24%;
    box-shadow: 4px 3px 4px #000;
}

#map-separator {
    margin-bottom: 25px;
}


#next-to-subs,
#no-reservations {
    font-size: .850em;
    font-style: italic;
    margin-top: -1.3%;
}


/*FOOTER CUSTOMIZATIONS*/

.social-icons {
    margin: 0 15px;
}

.footer {
    border-top: 2px solid #fff;
    margin: 0;
}

.footer, #all-but-topnav:after {
    height: 70px;
}

.footer-text {
    margin-top: 4px;
}

.footer p {
    margin-bottom: -10px;
}

.navbar-fixed-bottom {
    background-color: rgba(34,34,34,.75);
}

#copyright {
    font-family: 'Raleway', Helvetica, sans-serif;
}

#signature {
    font-family: "Bad Script";
    font-size: 1.10em;
}






















