<div class="all-but-topnav">
  <!-- <div class="container"> -->
    <h1 class="menu-headers page-header">Our Menu</h1>
  <!-- </div> -->
  <div class="container">
    <div class="row menu-row">
      <div class="col-xs-12">
        <a href="img/menus/menu-1.16.16.jpg">
          <img class="img-responsive menu" src="img/menus/menu-1.16.16.jpg">
        </a>
      </div>
    
      <!-- <h1 class="menu-headers"> Daily Drink Specials</h1> -->
        <div class="col-xs-12 drink-specials">
        <ul class="list-group">  
          <p class="list-group-item-heading">Drink Specials</p>
          <p class="list-group-text">Monday-Saturday  9-11 pm</p><br>
          <p class="list-group-text">Half off all Drafts!</p>
          <p class="list-group-text">Half off Well Drinks!</p>
        </ul>
        <img class="img-responsive menu-bottles" src="img/bottles-2.jpg">
      </div>
    </div>
  </div>
</div>