<div class="gallery-top-margin">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	      <h1 class="page-header gallery-header headers">Photo Gallery</h1>
	    </div>

	    <div ng-controller="GalleryCtrl">
    		<div ng-repeat="image in images" class="col-lg-3 col-xs-6 gallery-pic">
  				<a class="thumbnail" ng-click="openLightboxModal($index)">
    				<img  ng-src="{{image.thumbUrl}}" class="img-responsive">
  				</a>
				</div>
			</div>

	  </div>
	</div>
	<div id="see-more-photos">
	  <p>See more photos on <a href="https://www.facebook.com/brunzies.bar/photos_stream?ref=page_internal">Facebook!</a></p>
	</div>
</div>