<div class="gallery-top-margin">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	      <h1 class="page-header gallery-header headers">Photo Gallery</h1>
	    </div>

	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/bar400x300-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/bar400x300.jpg"  alt="Brunzies">
	      </a>
	    </div>
	    
	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/bottles1-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/bottles1.jpg"  alt="">
	      </a>
	    </div>

	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/kris-ben-overlay.jpg" title="Co-owners Ben and Kris Bruns">
	        <img class="img-responsive"  src="img/gallery/kris-ben.jpg"  alt="">
	      </a>
	    </div>

	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/stools-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/stools.jpg"  alt="">
	      </a>
	    </div>
	    
	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/brunzies-people-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/brunzies-people.jpg"  alt="">
	      </a>
	    </div>
	    
	    <div class="col-lg-3 col-xs-6 gallery-pic last-photo">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/ackerman-overlay.jpg" title="Kris with 'name master' Jason Ackerman">
	        <img class="img-responsive"  src="img/gallery/ackerman.jpg"  alt="">
	      </a>
	    </div>

	    <div class="col-lg-3 col-xs-6 gallery-pic">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/table-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/table.jpg"  alt="">
	      </a>
	    </div>

	    <div class="col-lg-3 col-xs-6 gallery-pic last-photo">
	      <a class="thumbnail" rel="lightbox-gallery" href="img/gallery/beer_81015-overlay.jpg">
	        <img class="img-responsive"  src="img/gallery/beer_81015.jpg"  alt="">
	      </a>
	    </div>

	  </div>
	</div>
	<div id="see-more-photos">
	  <p>See more photos on <a href="https://www.facebook.com/brunzies.bar/photos_stream?ref=page_internal">Facebook!</a></p>
	</div>
</div>
<!--
<script>
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      })
</script>
-->